---
import { Separator } from 'ariakit/separator';
import type { MarkdownLayoutProps } from 'astro';
import { ExternalLink, Header, Outline, SidebarItems } from '~/ui/components';
import { generateGithubURL } from '~/utils/generateGithubURL.js';

const pages = await Astro.glob<{ category: string; description: string; title: string }>('../pages/**/*.mdx');

type Props = MarkdownLayoutProps<{
	category: string;
	description: string;
	title: string;
}>;
const { headings, frontmatter, url } = Astro.props;
---

<script>
	window.addEventListener('load', () => {
		const headings = document.querySelectorAll(
			'div.level-h1 > h1, div.level-h2 > h2, div.level-h3 > h3, div.level-h4 > h4',
		);

		const headingsObserver = new IntersectionObserver(
			(entries) => {
				entries.forEach((entry) => {
					if (entry.isIntersecting) {
						const location = window.location.toString().split('#')[0];
						history.replaceState(null, '', location + '#' + entry.target.id);
					}
				});
			},
			{
				root: null,
				rootMargin: '-100px 0% -66%',
				threshold: 1.0,
			},
		);

		headings.forEach((heading) => headingsObserver.observe(heading));
	});
</script>

<Header client:load searchPages={pages}>
	<div class="flex flex-col gap-3 p-3 pb-32 lg:pb-12" slot="pages">
		<SidebarItems client:load pages={pages} />
	</div>
</Header>

<main class="pt-18 lg:pl-76 xl:pr-64">
	<article>
		<div class="relative z-10 min-h-[calc(100vh_-_70px)] p-6 pb-20 shadow">
			<h1 class="mb-2 flex text-4xl font-semibold">{frontmatter.title}</h1>
			<p class="text-base font-normal dark:text-gray-400">{frontmatter.description}</p>

			<Separator className="my-5 border-base" />

			<div class="prose max-w-full">
				<slot />
			</div>

			<div
				class="h-[calc(100vh - 72px)] border-base fixed top-[61px] right-0 bottom-0 z-20 hidden w-64 border-l bg-white pr-2 dark:bg-[#151718] xl:block"
			>
				<Outline client:load headings={headings} />
			</div>

			<Separator className="my-5 border-base" />

			<div class="flex flex-col space-y-5">
				<div class="flex place-content-start">
					<ExternalLink client:load href={generateGithubURL(url!)} title="Edit this page" />
				</div>
			</div>
		</div>
	</article>
</main>
